@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  transition: background-color 50000s;
  box-shadow: 0 0 0 1000px #272E44 inset;
  -webkit-text-fill-color: #67E8F9 !important;
  caret-color: #67E8F9 !important;
  background-color: transparent !important;
}

.btn-primary-colors {
    @apply transition-all duration-300 uppercase bg-gradient-to-br from-[#00FFC4] to-[#56D7FE] text-black font-bold tracking-widest rounded-lg;
}

.btn-primary-colors:hover {
    @apply brightness-90;
}
